@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional extras — შეგიძლია შეცვალო */
body {
  font-family: "BPG ExtraSquare", sans-serif;
  background: "#0F172A";
  color: "#FFFFFF";
}

@font-face {
  font-family: "BPG ExtraSquare";
  src: url("/fonts/bpg_extrasquare_2009.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
